{% extends "base.html" %}

{% block content %}
  {% include "step0_intro.html" %}
  {% include "step1_validacion.html" %}
  {% include "step2_application.html" %}
  {% include "step3_sistema.html" %}
  {% include "step4_microservicios.html" %}
  {% include "step5_itservices.html" %}
  {% include "step6_funcionalidades.html" %}
  {% include "step7_depositos.html" %}
  {% include "step8_entornos.html" %}
  {% include "step9_servicepoints.html" %}
  {% include "step10_vincular.html" %}
  {% include "step11_estatus.html" %}
{% endblock %}
